@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 1rem = 16px */
}

body {
  font-family: Arial, sans-serif; /* Change to your preferred font */
  line-height: 1.5;
  background-color: #ffffff; /* Set a default background color */
  color: #333; /* Set a default text color */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /* Allows links to inherit the color from the parent */
}

img {
  max-width: 100%;
  height: auto; /* Ensures responsive images */
  display: block; /* Removes the bottom space below images */
}

table {
  border-collapse: collapse;
  width: 100%; /* Makes tables responsive */
}

/* Add any other global styles or variables below */

.geist-sans {
  font-family: var(--font-geist-sans);
}
.geist-mono {
  font-family: var(--font-geist-mono);
}
.poppins {
  font-family: var(--font-poppins);
}

.roboto {
  font-family: var(--font-roboto);
}

.work-sans {
  font-family: var(--font-work-sans);
}

.inter {
  font-family: var(--font-inter);
}

.monobold {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 50px;
}

.flair {
  width: 50px;
  height: 50px;
  border: 1.3px, solid, #b2b3b4;
  border-radius: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: crosshair;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4b866a;
  border-radius: 100px;
  border: 2px solid #4b866a;
}

/* Firefox styling */
* {
  scrollbar-width: thin; /* Sets width to a thinner style */
  scroll-behavior: smooth;
  scrollbar-color: #339bd7 transparent; /* Thumb color and track color */
}
